
.user-style{
    background: white;
    padding: 25px;
    border-radius: 10px;
    color:black;
}
.user-style img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.user-style h2{
    padding: 15px 0px 5px 0px;
}
.btn{
    font-size: 17px;
    padding: 7px 16px;
    
} 
